@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.main-wrapper{
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid black;
}

.Deck, .Controls, .Hand{
  
  margin: 20px;
}